body{
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Source Sans Pro', sans-serif;
}

/* HEADER */
header{
    text-align: center;
    background-color: black;
    color: white;
    font-size: 3rem;
    font-weight: bold;
    padding: 1rem;
}

/* FOOTER */
footer {
    text-align: center;
    background-color: black;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    padding: 1rem;
    margin-top: auto;
}

/* MAIN */
main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

#calculator-container{
    display: flex;
    flex-direction: column;
    min-width: 15vw;
    height: auto;
    gap: 1.5rem;
    padding: 1.5rem;
    border: 0.25rem solid black;
    border-radius: 0.5rem;
}

#calculator-display{
    background-color: white;
    border: 0.25rem solid black;
    border-radius: 0.5rem;
}

#calculator-functions{
    display: flex;
    gap: 1.5rem;
}

#calculator-functions > *{
    flex: 1;
}

#calculator-numpad{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1.5rem;
}

#calculator-numpad > *{
    aspect-ratio: 1 / 1;
}

button{
    border: 0.25rem solid black;
    border-radius: 0.5rem;
    padding: 1rem 2rem;
}

