body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Source Sans Pro', sans-serif;
}

/* HEADER AND FOOTER */
header, footer {
    text-align: center;
    background: black;
    color: white;
    padding: 2rem 4rem;
}

header h1 {
    font-size: 3rem;
}

footer {
    font-size: 1rem;
}

/* MAIN */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

#calculator-container {
    display: flex;
    flex-direction: column;
    border: 0.25rem solid black;
    border-radius: 1rem;
    padding: 1rem;
    gap: 1rem;
    color: white;
    box-shadow: 0 9px rgb(153, 153, 153);
    background-color: #c7c6c6;
    width: 25vw;
}

#calculator-container #calculator-display {
    display: flex;
    flex-direction: column;
    border: 0.25rem solid black;
    border-radius: 1rem;
    padding: 1rem;
    gap: 1rem;
    color: black;
    box-shadow: 0 9px rgb(153, 153, 153);
    background-color: white;
    font-weight: bold;
    font-size: 2rem;
    text-align: right;
    letter-spacing: 0.15rem;
}

#calculator-container #calculator-display > *{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}


#calculator-container #calculator-functions {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

#calculator-container #calculator-functions > *{
    flex: 1;
}

#calculator-container #calculator-numpad {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

#calculator-container #calculator-numpad > *{
    aspect-ratio: 1 / 1;
} 

button{
    border: 0.25rem solid black;
    border-radius: 1rem;
    font-weight: bold;
    font-size: 2rem;
    padding: 1rem;
    color: white;
    transition-duration: 0.25s;
    box-shadow: 0 9px #999;
}

button:active{
    transform: translateY(0.5rem);
    box-shadow: 0 5px #666; 
}

.num-button, #decimal-button{
    background-color: #f2de00;
}

.num-button:hover, #decimal-button:hover{
    background-color: goldenrod; 
}

.operator-button{
    background-color: lightblue;
}

.operator-button:hover{
    background-color: darkblue; 
}

#equal-button{
    background-color: lightgreen;
}

#equal-button:hover{
    background-color: darkgreen;
}

#clear-button, #delete-button{
    background-color: lightcoral;
}

#clear-button:hover, #delete-button:hover{
    background-color: darkred;
}